<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
</body>
<body>


</body>
<body>
    <h1>Register to Ass-Gore FanClub Forum</h1>
    <img source="https://cdn.discordapp.com/attachments/1099136960678858804/1391915016697024664/image.png?ex=686da160&is=686c4fe0&hm=e8d27625e8794bdd770c659008fd061f289361f79a8e78e2f8f6f530504ceaf8&  " alt="waahh the image didnt load">
    
    <form method="post" action="/HelloThere">
        <h1>username</h1>
        <input type="text" placeholder="You userName goes here" name="pedro">
        <h1>passing of the word</h1>
        <input type="text" placeholder="you r PASSWORD">
        <h1>e's mail</h1>
        <input type="text" placeholder="mail Please!">
        <br> <br>
        <button>Done</button>
    </form>








</body>
</html>